<!DOCTYPE html>
<html lang="{{ config.default_language }}">
    {% include "partials/head.html" %}
    <body class="">
        {% include "partials/header.html" %}
        <main>
            {% block main %}{% endblock %}
        </main>
        {% include "partials/footer.html" %}
    </body>
</html>
