<head>
  <title>{{ config.title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ config.title }}" />
  <meta property="og:title" content="{{ config.title }}" />
  <meta property="og:image" content='' />
  <meta property="og:description" content="{{ config.title }}" />
  <link rel="stylesheet" href="/css/simple.min.css" />
  <style>
    td {
      text-transform:capitalize;
      width:50%;
    }
    td h2 {
      text-align:center;
      margin:0;
    }
    td:last-child p {
      margin-left:2em;
      box-sizing:border-box;
    }
  </style>
</head>
