<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-gb" }}">
  {{ partial "head" . }}
    <body class="{{ .Kind }}">
      {{ partial "header" . }}
      <main>
        {{ block "main" . }}{{- end }}
      </main>
      {{ partial "footer" . }}
    </body>
</html>
