{{ define "main" }}
  {{ .Content }}
  <table>
    {{ with .Site.GetPage "section" "word" }}
      {{ range .Pages.ByTitle }}
        <tr>
          <td><h2 class="letter">{{ .Title }}</h2>
          </td>
          <td>
            <p>
            {{ range .Pages.ByTitle }}
              {{ if eq .Content "" }}
                {{ .Title }}<br/>
              {{ else }}
                <abbr title="{{ .Content }}">{{ .Title }}</abbr><br/>
              {{ end }}
            {{ else }}
              <code>Suggestions Welcome</code>
            {{ end }}
            </p>
          </td>
        </tr>
      {{ end }}
    {{ end }}
  </table>
{{ end }}
