<footer>
  <p>
  Suggestions welcome! Please contact <a href="https://paulwilde.uk">Paul Wilde</a> on <a href="https://notnull.click/paul">The Fediverse</a></p>
</footer>
<script async defer data-domain="unphoneticabc.xyz" src="https://plausible.wilde.cloud/js/plausible.js"></script>
