<head>
  <title>{{ .Site.Title }}</title>
  <!-- <link rel="shortcut icon" type="image/jpg" href='{{ "/images/favicon.png" | relURL }}'/> -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ .Site.Title }}" />
  <meta property="og:title" content="{{ .Site.Title }}" />
  <meta property="og:image" content='' />
  <meta property="og:description" content="{{ .Site.Title }}" />
  <link rel="stylesheet" href='{{ "/css/simple.min.css" | relURL }}' />
  <style>
    td {
      text-transform:capitalize;
      width:50%;
    }
    td h2 {
      text-align:center;
      margin:0;
    }
    td:last-child p {
      margin-left:2em;
      box-sizing:border-box;
    }
  </style>
</head>
