/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-Dec-2018, 09:31:04
    Author     : paul
*/
.page-container{
    margin-top:20px;
}
.title, .letter{
    text-align: center;
}