{% extends "partials/baseof.html" %}

{% block main %}
{{ section.content | safe }}
<table>
    {% set letters = get_section(path="word/_index.md") %}
    {% for letter_sect in letters.subsections %}
    {% set letter = get_section(path=letter_sect) %}
    <tr>
        <td><h2 class="letter">{{ letter.title }}</h2>
        </td>
        <td>
            <p>
            {% for word in letter.pages %}
            {% if word.content == "" %}
            {{ word.title }}<br/>
            {% else %}
            <abbr title="{{ word.content | striptags }}">{{ word.title }}</abbr><br/>
            {% endif %}
            {% endfor %}
            {% set len = letter.pages | length %}
            {% if len == 0 %}
            <code>Suggestions Welcome</code>
            {% endif %}
            </p>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock main %}
